* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: 'Jost', sans-serif;
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

/* Nav */
nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 5rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(54deg, rgba(0, 0, 255, 0.651), rgba(0, 255, 255, 0.774), rgba(255, 0, 255, 0.527));
    box-shadow: 1px 2px 15px rgba(0, 0, 255, 0.521);
}

nav>ul {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav>h1 {
    margin-left: 2rem;
}

nav>ul>li {
    list-style: none;
    width: 50%;
}

nav a {
    white-space: nowrap;
    margin-right: 2rem;
}

nav>ul>li #btn_nav_way-logout {
    display: none;
}

/* layout */
.layout {
    display: flex;
    height: calc(100% - 5rem);
    width: calc(100%);
    align-items: center;
    justify-content: center;
}

/* console */
.console {
    height: 90%;
    width: 95%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.342);
    border-radius: 15px;
}

.console>div {
    height: 100%;
    width: 100%;
}

/* manager */
.manager {
    height: 100%;
    width: 100%;
    display: none;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    transform: all 0.5s;
}

#list h3,
.details h3 {
    font-family: 'Jost';
    text-align: center;
}

/* Welcome */
.welcome {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

/* login / signup */
#login_template,
#signup_template {
    display: none;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.inputs-login,
#inputs_signup {
    width: 20rem;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.inputs-login input,
#inputs_signup input {
    margin-bottom: 1rem;
    width: 100%;
}

#btn_login,
#btn_signup {
    border: none;
    padding: 3px 0;
    background-color: floralwhite;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.397);
    margin-top: 0.5rem;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    width: 10rem;
}

/* Add */
#add_clients,
#edit_clients {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

#edit_clients button,
#add_clients button {
    display: block;
    width: 25%;
    margin: 1rem auto;
}

button {
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    background-color: #ffff;
    transition: transform 0.5s;
    padding: 0.5rem;
    width: 5rem;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#inputs_add,
#inputs_edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputs_add>div,
#inputs_edit div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#inputs_add input,
#inputs_edit input {
    margin-bottom: 1rem;
}

/* list clients */
#list_clients {
    width: 100%;
    word-break: break-all;
    width: auto;
    height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#transparent {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffff, transparent, #ffff);
}

#list_clients>li {
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    margin: 1rem auto;
    border-radius: 10px;
    transition: all 1s;
}



#add_way {
    display: block;
    width: 20%;
    height: 2rem;
    margin: auto;
}

.edit_button-list,
.delete_button-list {
    margin: 0.5rem;
    transition: all 0.5s;
}

;

.delete_button-list {
    transition: all 0.5s;
}

.delete_button-list:hover {
    box-shadow: 0 0 13px rgba(255, 0, 0, 0.575);
    color: red;
}

.edit_button-list {
    transition: all 0.5s;
}

.edit_button-list:hover {
    box-shadow: 0 0 13px rgba(0, 4, 255, 0.575);
    color: blue;
}

#add_way {
    transition: all 0.5s;
}

#add_way:hover {
    box-shadow: 0 0 13px rgba(60, 255, 0, 0.575);
    color: rgb(0, 255, 21);
}

#btn_way-login {
    margin: 1rem 0 3rem 0;
}

#btn_way-singup {
    margin-top: 0.5rem;
}

#consola {
    transition: all 0.3s;
}